<style>
    .autocomplete {
  position: relative;
  width: 300px; /* Adjust as needed */
}

#search-input {
  width: 100%;
  padding: 10px;
}

#suggestion-list {
  position: absolute;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}
</style>
<div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
  <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab()">x</button>
  <div>
    {{title}} {{target}}
  </div>
  <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab()">↻</button>
</div>
  <div class="">
         <div class="bg-white rounded p-2 mb-3 dataavoirsupp d-flex justify-content-between">
            <div class="col-5">

                <div class="mb-2">

                    <select name="client" id="" style="width:100%;" class=" supplierselectavoir form-select notemptyavsupp">

                    </select>
                </div>
                <div class="mb-2">
                    <input type="date" class="form-control datebonavsupp" name="datebonavsupp" placeholder="Date bon">
                </div>
                <!-- <div class="mb-2">
                  <small>Mode</small>
                  <select name="mode" id="" style="width:100%;" class="form-select notemptyavsupp modeselectavsupp">
                    <option value="">--</option>
                    <option value="bl">BL</option>
                    <option value="facture">Facture</option>
                  </select>
                </div> -->

            </div>

            <div class="col-7 row productsadderavsupp d-none">
              <div class="col-12">

                <select class="avoirsuppproducts mb-2 form-select" style="width: 100%;">

                </select>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Quantité" name="addqty">
                <div class="addstock text-danger"></div>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Prix" name="addprice">
                <div class="addclientprice text-danger"></div>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Remise1" name="addremise1">
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Remise2" name="addremise2">
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Remise3" name="addremise3">
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Remise4" name="addremise4">
              </div>
              <div class="col-3">
                <button class="btn btn-secondary" onclick="addrowavoirsupp(event)">Ajouter</button>
              </div>
              <div class="col-12">
                <input hidden readonly type="text" name="addname" class="form-control">
                <input hidden readonly type="text" name="isfacture" class="form-control">
              </div>
              <div class="col-12 tabeldata" style="height: 11em;
              overflow: scroll;">
                
              </div>
            </div>




          </div>

      <div>
          <div class="bg-white rounded p-2 tableholder">
              <!-- <div>
                  <small>
                      Ref.
                  </small>
                  <input type="text" name="ref" class="form-control searchref">
              </div> -->
              <div class="d-flex justify-content-between">

                  <div class="mb-3 col-5">

                </div>

            </div>
            <div class="col-5">
              <input type="text" class="searchtablebon" placeholder="Search..." />
            </div>
            <table class="table table-bordered text-center bonavsuppcreation">
              <thead style="background: orange; color:#091b27;">
                  <tr>
                      <td style="padding: 2px 0; font-size: 13px; width: 9%;">REF</td>
                      <td style="padding: 2px 0; font-size: 13px;">Article</td>

                      <!-- <td style="padding: 2px 0; font-size: 13px;">Stock</td> -->

                      <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Quantité</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix unit.</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise1</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise2</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise3</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise4</td>
                      <td style="padding: 2px 0; font-size: 13px;">Total</td>
                  </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TOTAL</td>
                  <td class="totalbon" style="background: orange; color:#091b27;">
                      0.00
                  </td>
                </tr>
              </tfoot> -->
              <tbody class="bonavsuppbody">

              </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button class="btn btn-success submitavsupp">
                      Valider
                </button>
                <b class="totalbon text-danger">
                  0.00
                </b>
            </div>
          </div>
          <div class="reglementbonsholder border position-relative bg-white mt-3 border">

            <!-- <div class="inputsholder">
                <button style="background: #f06623;" class="btn btn-sm text-white" onclick="addfieldsreglement(event)">+</button>
                <strong class="totalreglblfields">0.00</strong>
                    <div class="d-flex align-items-center justify-content-between">
                          <div class="">
                              <small>Mantant:</small> <br>

                          </div>
                          <div class="">
                              <small>N° piece:</small> <br>

                          </div>
                          <div class="">
                              <small>Mode Paiment:</small> <br>

                          </div>
                          <div class="">
                            <small>Echeance:</small> <br>

                        </div>
                        <div class="">
                          <small>Bank:</small> <br>

                      </div>
                      </div>
                    <div class="reglements">
                      <div class="d-flex justify-content-between align-items-center mt-2"><div class=""> <input type="number" name="mantantreglementclient" onkeyup="totalreglementbl(event)" class="w-100 " placeholder="Mantant"></div><div class=""> <input type="text" name="npiece" class="w-100 " placeholder="N° piece"></div><div class=""> <select name="modereglementclient" class="w-100 notempty" onchange="checkmodereglement(event)"><option value="cheque">Cheque</option><option value="effet">effet</option><option value="espece">espece</option><option value="avoir">avoir</option></select></div><div> <input type="date" name="echeance" class="w-100 notempty" value="${currentDate}"></div><div class="d-flex"><div><input type="text" name="bank" class="w-100" placeholder="Nom bank"></div>
                      </div></div>
                    </div>
                </div> -->
            </div>
      </div>
  </div>

  <script>
    $('.searchtablebon').on("keyup", function() {
        let parentdiv=$(this).parent().parent()
    // Get the values from all filter input fields
        var filterValue = $(this).val().toLowerCase();

        // Split the filter value into individual terms based on the '&' sign
        var filterTerms = filterValue.split('+').map(function(term) {
            return term.trim();
        });

        // Iterate through the table rows
        parentdiv.find("tbody tr").each(function() {
            var rowText = $(this).text().toLowerCase();
            var showRow = true;

            // Check if all filter terms are present in the row text
            $.each(filterTerms, function(index, term) {
                if (term !== '' && rowText.indexOf(term) === -1) {
                    showRow = false;
                    return false; // Exit the loop early if a mismatch is found
                }
            });

            // Toggle the visibility of the row based on the filter criteria
            $(this).toggle(showRow);
        });

    });
    function addrowavoirsupp(event) {
      console.log('form avoirs')
      let target=$(event.target)
      parentdiv=target.parent().parent().parent().parent()
      console.log(parentdiv)
      // this reset the select2 value
      // $('.resultsholderbonavsupp').val('').trigger('change')
      // ids of products in bon stored in localstorage
      let bonachatbody = parentdiv.find('.bonavsuppbody')
      let addname=parentdiv.find('[name="addname"]')
      let addremise1=parentdiv.find('[name="addremise1"]')
      let addremise2=parentdiv.find('[name="addremise2"]')
      let addremise3=parentdiv.find('[name="addremise3"]')
      let addremise4=parentdiv.find('[name="addremise4"]')

      
      let isfacture=parentdiv.find('[name="isfacture"]')
      let addqty=parentdiv.find('[name="addqty"]')
      let addprice=parentdiv.find('[name="addprice"]')
      
      let priceclient=parentdiv.find('.addclientprice ').text()
      if (addqty.val()=='' || addprice.val()==''){
        alertify.error('Veuillez remplir tous les champs')
        return
      }
      var [ref, name, dp, stock, stockfacture, id, sellprice, remise, netprice, representprice] = addname.attr('data').split('§');
      console.log(ref, name, dp, stock, id, sellprice, remise, netprice, representprice)
      pdcts=JSON.parse(localStorage.getItem('pdctsinavoirsupp{{target}}')) || []
      console.log(id, pdcts, pdcts.includes(id))
      if (pdcts.includes(id)){
        // addqty.val('')
        // addname.val('')
        // addremise1.val('')
        // addremise2.val('')
        // addremise3.val('')
        // addremise4.val('')
        // addprice.val('')
        alertify.error('Ce produit est deja dans le bon')
        // just alertify
        //return
      }

      pdcts.push(id)
      localStorage.setItem('pdctsinavoirsupp{{target}}', JSON.stringify(pdcts))
      let netp1=(addprice.val()-(addprice.val()*addremise1.val()/100))
      netp2=netp1-(netp1*addremise2.val()/100).toFixed(4)
      netp3=netp2-(netp2*addremise3.val()/100).toFixed(4)
      netp4=netp3-(netp3*addremise4.val()/100).toFixed(4)
      console.log('netp1', netp1, netp2, netp3, netp4)
      let addtotal=(addqty.val()*netp4).toFixed(2)
      //<td style="padding: 2px 0; font-size: 13px;">${stock}</td>
      let tr = `
      <tr class="itemrow">
          <td style="padding: 2px 0; font-size: 13px;" class="ref" onclick="checkConsecutiveClicks(event)">${ref}</td>
          <td style="padding: 2px 0; font-size: 13px;" class="name text-start">${name}</td>
          <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate qty notemptyavsupp" onkeyup="calculate(event)" name="qty" value="${addqty.val()}" style="height:23px; width:100%;"></td>
          <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate price notemptyavsupp" onkeyup="calculate(event)" name="price" value="${addprice.val()}" step=0.01 style="height:23px; width:100%;"></td>
          <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise1.val()}" class="calculate remise1" onkeyup="calculatebonachat(event)" name="remise" style="height:23px; width:65px;"></td></td>
          <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise2.val()}" class="calculate remise2" onkeyup="calculatebonachat(event)" name="remise" style="height:23px; width:65px;"></td></td>
          <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise3.val()}" class="calculate remise3" onkeyup="calculatebonachat(event)" name="remise" style="height:23px; width:65px;"></td></td>
          <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise4.val()}" class="calculate remise4" onkeyup="calculatebonachat(event)" name="remise" style="height:23px; width:65px;"></td>
          <td style="padding: 2px 0; font-size: 13px;" class="total">${addtotal}</td>
          <input type="hidden" name="productid" value="${id}">
          <input type="hidden" name="isfacture" value="${isfacture.val()}">

      </tr>
      `

      bonachatbody.prepend(tr)
      // delete selected option
      addqty.val('')
      addname.val('')
      addremise1.val('')
      addremise2.val('')
      addremise3.val('')
      addremise4.val('')
      addprice.val('')
      totals=parentdiv.find('.total')
      totalbon=parentdiv.find('.totalbon')
      var totalSum = 0;
      totals.each(function() {
          totalSum += parseFloat($(this).text());
      });
      totalbon.text(totalSum.toFixed(2))
      $('.avoirsuppproducts').select2('open')

    }
    $(function(){

      $('.supplierselectavoir').select2({
        minimumInputLength:1,
        placeholder: 'Select un fournisseur',
        ajax: {
          url: "{% url 'products:searchsupplier' %}",
          type: 'GET',
          dataType: 'json',
          data: function (params) {
            return {
              'term': params.term,
            }
          },
          processResults: function (data) {
            return {
              results: data.results
            };
          },
          cache: true
        }
      })
      $('.avoirsuppproducts').select2({
        minimumInputLength: 1,
        placeholder:'Chercher Produits',
        ajax: {
          type:'get',
          dataType: 'json',
          url: '/products/searchproduct?target={{target}}',
          data: function (params) {
            var query = {
              term: params.term,
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          },
          proccessresults: function (data) {
              return {
                results:data.results
              }
          },
          cache:true
        }
      });
    })

    $('.supplierselectavoir').on('change', function(){
      // get client id
      supplierid=$(this).val()
      if (supplierid==''){
        $('.productsadderavsupp').addClass('d-none')
        alertify.error('Select un client')
        return
      }
      $('.productsadderavsupp').removeClass('d-none')
      // loading screen

    })
    $('.avoirsuppproducts').on('change', function(){

            parentdiv=$(this).parent().parent()
            console.log(parentdiv)
            if ($(this).val()==''){
                return
            }
            console.log($(this).val())
            var [ref, name, dp, stock, stockfacture, id, sellprice, remise, netprice, representprice] = $(this).val().split('§');
            let addname=$(this).parent().parent().find('input[name="addname"]')
            let isfacture=$(this).parent().parent().find('input[name="isfacture"]')
            let addprice=$(this).parent().parent().find('input[name="addprice"]')
            let addremise=$(this).parent().parent().find('input[name="addremise1"]')
            let addqty=$(this).parent().parent().find('input[name="addqty"]')
            console.log('qty of change',addqty)
            $(this).parent().parent().find('.addstock').text(stock)
            addqty.val('')
            addremise.val(remise)
            addname.val(`${ref} - ${name}`).attr('data', `${ref}§${name}§${dp}§${stock}§${stockfacture}§${id}§${sellprice}§${remise}§${netprice}§${representprice}`)
            // we are getting ere list of reps that have price


            console.log('getting supplier price', id, $('.supplierselectavoir').val())
            $.ajax({
                url: "{% url 'products:getlastsuppprice' %}",
                type: 'POST',
                data: {
                    'id': id,
                    'target': '{{target}}',
                    'supplierid': $('.supplierselectavoir').val(),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function(data){
                  console.log('data', data)
                  console.log(isfacture)
                  addprice.val(data.price)
                  addremise.val(data.remise)
                  $('.tabeldata').html(data.table)
                  // if (data.facture){

                  //   isfacture.val(1)
                  // }else{
                  //   isfacture.val(0)
                  // }
                }
              })

            //let selected = $(this).find(':selected')
            // selected.remove()
            // delect selected option
        })
    localStorage.removeItem('pdctsinavoirsupp{{target}}')
    localStorage.setItem('pdctsinavoirsupp{{target}}', '[]')
    $(document).ready(function(){
      $('.supplierselectavoir').select2('open')
    })
        // fill today's date in .datebonavsupp input
        var dateInput = document.querySelector('.datebonavsupp');

// Create a new Date object for today
        var today = new Date();

        // Get the current date in the "yyyy-mm-dd" format
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed, so we add 1
        var dd = String(today.getDate()).padStart(2, '0');

        // Format the date as "yyyy-mm-dd"
        var currentDate = yyyy + '-' + mm + '-' + dd;

        // Set the value of the date input to today's date
        dateInput.value = currentDate;


      $('.submitavsupp').on('click', (e)=>{
        if (parseFloat($('.totalreglblfields').text())>parseFloat($('.totalbon').text())){
          alertify.error('Total payement superieur au total bon')
          return
        } 
        var isAnyEmpty = $('.reglnotempty').filter(function() { return $(this).val() == '' || $(this).val()==0; }).length > 0;
            if (isAnyEmpty){
              console.log('empties found')
                let emptyInputs = $('.reglnotempty').filter(function() {
                    return !this.value.trim();
                });

                // Add a red border to all empty input elements
                alertify.error('Veuillez remplir tous les champs obligatoires')
                emptyInputs.css('border', '1px solid red');
                $('notempty').not(emptyInputs).css('border', '');
                $(this).attr('disabled', false)
                return true
            }
        parentdiv=$(e.target).parent().parent().parent().parent()
        if (parentdiv.find('.supplierselectavoir').val()==null || parentdiv.find('.datebonavsupp').val()==''){
            parentdiv.find('.dataavoirsupp').addClass('border border-danger')
            return
        }
        $('.dataavoirsupp').removeClass('border border-danger')
        // check if .itemrow is exist
        if ($('.tableholder tbody tr').length==0){
            parentdiv.find('.tableholder').addClass('border border-danger')
            return
        }
        parentdiv.find('.tableholder').removeClass('border border-danger')
          var isAnyEmpty = parentdiv.find('.notemptyavsupp').filter(function() { return $(this).val() == '' || $(this).val()==0; }).length > 0;
            if (isAnyEmpty){
                let emptyInputs = parentdiv.find('notemptyavsupp').filter(function() {
                    return !this.value.trim();
                });

                // Add a red border to all empty input elements
                alertify.error('Veuillez remplir tous les champs obligatoires')
                emptyInputs.css('border', '1px solid red');
                parentdiv.find('input.notemptyavsupp').not(emptyInputs).css('border', '');
                $(this).attr('disabled', false)
                return
            }
          parentdiv.find('.submitavsupp').addClass('disabled')
          trs=parentdiv.find('.bonavsuppbody tr')
          let products = []
          trs.each(function(){
              let tr = $(this)
              let qty = tr.find('.qty').val()
              let name = tr.find('.name').text()
              let ref = tr.find('.ref').text()
              let price = tr.find('.price').val()
              let remise1 = tr.find('.remise1').val()
              let remise2 = tr.find('.remise2').val()
              let remise3 = tr.find('.remise3').val()
              let remise4 = tr.find('.remise4').val()
              let total = tr.find('.total').text()
              let productid = tr.find('input[name="productid"]').val()
              let isfacture = tr.find('input[name="isfacture"]').val()
              let product = {
                  'qty': qty,
                  'name': name,
                  'ref': ref,
                  'price': price,
                  'remise1': remise1,
                  'remise2': remise2,
                  'remise3': remise3,
                  'remise4': remise4,
                  'total': total,
                  'productid': productid,
                  'isfacture': isfacture,
              }
              products.push(product)
          })
          let supplierid = parentdiv.find('.supplierselectavoir').val()
          let repid = parentdiv.find('.repsselects').val()
          let mode = parentdiv.find('.modeselectavsup').val()
          let datebon = parentdiv.find('.datebonavsupp').val()
          let transport = parentdiv.find('.transport').val()
          let totalbon=parseFloat(parentdiv.find('.totalbon').text())
          mantant=parentdiv.find('[name="mantantreglementclient"]').map(function() {
              return parseFloat(this.value);
          }).get();
          mode=parentdiv.find('[name="modereglementclient"]').map(function() {
              return this.value;
          }).get();
          npiece=parentdiv.find('[name="npiece"]').map(function() {
              return this.value;
          }).get();
          bank=parentdiv.find('[name="bank"]').map(function() {
              return this.value;
          }).get();
          echeance=parentdiv.find('[name="echeance"]').map(function() {
              return this.value;
          }).get();
          console.log('sending')
          data={
              'totalbon': totalbon,
              'supplierid': supplierid,
              'datebon': datebon,
              'products': JSON.stringify(products),
              'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          console.log(data)
          console.log(products)
          $('.loadingscreen').removeClass('d-none')
          $.ajax({
              url: "{% url 'products:addavoirsupp' %}",
              type: 'POST',
              data: {
                'mantant':JSON.stringify(mantant),
                'mode':JSON.stringify(mode),
                'npiece':JSON.stringify(npiece),
                'echeance':JSON.stringify(echeance),
                'bank':JSON.stringify(bank),
                  'totalbon': totalbon,
                  'target': '{{target}}',
                  'supplierid': supplierid,
                  'repid':repid,
                  'transport':transport,
                  'datebon': datebon,
                  'products': JSON.stringify(products),
                  'csrfmiddlewaretoken': '{{csrf_token}}'
              },
              success: function(data){
                $('.loadingscreen').addClass('d-none')
                  alertify.success('Bon avoir creé')
                  // remove list in localstorage
                  // $('#addavoirsupp').html('')
                  // $('#addavoirsupp').html(data.html)
                  localStorage.removeItem('pdctsinavoirsupp{{target}}')

                  ajaxpage('avoirsupp', 'AvoirFR', '/products/listavoirsupplier?target={{target}}')

              }
          })

        })
      $('.searchbonavsuppcreation').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".bonavsuppcreation tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });



      // const selectElement = document.getElementById("my-select");

      // selectElement.addEventListener("keydown", function(event) {
      //     if (event.key === "Enter") {

      //         var [ref, name, dp, stock, id] = selectElement.value.split('§');
      //         let bonachatbody = $('.bonachatbody')
      //         let tr = `
      //         <tr>
      //             <td class="ref">${ref}</td>
      //             <td class="name">${name}</td>
      //             <td>${dp}</td>
      //             <td>${stock}</td>
      //             <td>
      //                 <select name"local" class="form-select local">
      //                     <option value="principal">Principal</option>
      //                     <option value="depot">Depot</option>
      //                 </select>
      //             </td>
      //             <td><input type="number" class="form-control calculate qty" onkeyup="calculate(event)" name="qty"></td>
      //             <td><input type="number" class="form-control calculate price" onkeyup="calculate(event)" name="price"></td>
      //             <td><input type="number" class="form-control calculate remise" onkeyup="calculate(event)" name="remise"></td>
      //             <td class="total"></td>
      //             <input type="hidden" name="productid" value="${id}">
      //             <td><button class="btn btn-danger btn-sm" onclick="removefrombon(this)">X</button></td>
      //         </tr>
      //         `
      //         bonachatbody.prepend(tr)
      //         // delect selected option
      //         selectElement.remove(selectElement.selectedIndex);
      //     }
      // });


      // const addtobon=(e, ref, name, stock)=>{
      //     let target = $(e.target)
      //     console.log(target)
      //     target.remove()
      //     let bonachatbody = $('.bonachatbody')
      //     let tr = `
      //     <tr>
      //         <td>${ref}</td>
      //         <td>${name}</td>
      //         <td>${stock}</td>

      //         <td><input type="number" class="form-control calculate qty" onkeyup="calculate(event)" name="qty"></td>
      //         <td><input type="number" class="form-control calculate price" onkeyup="calculate(event)" name="price"></td>
      //         <td class="total"></td>
      //         <td><button class="btn btn-danger btn-sm" onclick="removefrombon(this)">X</button></td>
      //     </tr>
      //     `
      //     bonachatbody.append(tr)
      // }


  </script>
