{% load global_tags %}

{% for order in bons %}
  <tr class="ord {% if loadmore %}achat-row{% endif %}" orderid="{{order.id}}" ondblclick="ajaxpage('bonachat{{order.id}}', 'Bon achat {{order.nbon}}', '/products/bonachatdetails/{{order.id}}?target={{target}}')">
    <td>{{ order.nbon }}</td>
    <td>{{ order.date|date:'d/m/Y' }}</td>
    <td>{{ order.supplier.name }}</td>
    <td>{{ order.total|floatformat:2|intspace}}</td>
    <td>{% if order.isfacture %} {{order.facture.facture_no}} {% endif %}</td>
    <td>
      {% if order.ispaid %}
      <div  style="text-align: center; background: lightgreen;">
        Reglé
      </div>
      

      {% else %}

        <div class="" style="text-align: center; background: yellow;">
          En attend
        </div> 
      {% endif %}
    </td>
    <!-- <td>{{ order.supplier.rest|floatformat:2|intspace }}</td> -->
    
    <td>
      <button class="btn bi bi-download" onclick="printbonachat('{{order.id}}')"></button>
    </td>

  </tr>
{% endfor %}