{% for i in bons %}
<tr>
    <td>
        {{i.bon.date|date:"d/m/Y"}}
    </td>
    <td>
        {{i.bon.bon_no}} {%if i.isfarah%}(FR){% else %}(OR){%endif%}
    </td>
    <td>
        {{i.product.ref.upper}}
    </td>
    <td>
        {{i.product.name.upper}}
    </td>
    <td>
        {{i.price}}
    </td>
    <td>
        {{i.remise}}
    </td>
    <td>
        {{i.qty}}
    </td>
    <td>
        {{i.total}}
    </td>
    <td>
        {{i.bon.client.name}}
    </td>
    <!-- <td>
        {{i.bon.client.code}}
    </td> -->
</tr>
{% endfor %}