{% for i in products %}
                <!--
                -->
                <!-- style="background:{% if not i.isactive %}#f3d6d694;{% endif %}" -->
                <tr 
                ondblclick="openwindow('addpdct{{i.id}}', 'Produit {{i.ref}}', '/products/viewoneproduct/{{i.id}}?target={{target}}')"
                data-product-id="{{ i.id }}" class="product-row productscategorycat{{i.category.id}}">
                    <td style="padding: 5px; font-weight: bold;" class="pe-2">
                        <img src="{% if i.image %}{{i.image.url}}{% endif %}" style="width: 55%;" alt="">
                    </td>
                    <td style="padding: 5px; font-weight: bold;">
                      {{i.ref.upper}}
                  </td>
                  <td style="padding: 5px; font-weight: bold;">
                    {{i.name.upper}} <br>
                    diametre: {{i.diametre}} <br>
                    block: {{i.block}}
                </td>
                <td style="padding: 5px; font-weight: bold;" class="text-center text-danger stock">
                  {{i.stocktotalfarah}} ({{i.frsellprice}}DH)
              </td>
                <td style="padding: 5px; font-weight: bold;" class="text-center text-danger stock">
                  {{i.stocktotalorgh}} ({{i.sellprice}}DH)
              </td>
                
                    
                    
                    <td style="padding: 5px; font-weight: bold;">
                      {{i.mark.name}}
                  </td>
                  
                </tr>
              {% endfor %}