
{% load global_tags %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Quantité</th>
            <th></th>
            <th>Prix</th>
            <th>Remise</th>
            <th>Remise2</th>
            <th>Remise3</th>
            <th>Remise4</th>
            <th>Rest Quantité</th>
        </tr>
    </thead>
    <tbody>
        {% for i in history %}
        <tr>
            <td>{{ i.date|date:'d/m/Y' }}</td>
            <td class="qtyofprice" id="{{i.id}}">{{ i.quantity }} </td>
            <td>
                ({% if i.isfarah %}FR {% else %}OR{%endif%})
            </td>
            <td class="price">{{ i.price }}</td>
            <td>{{ i.remise1 }}</td>
            <td>{{ i.remise2 }}</td>
            <td>{{ i.remise3 }}</td>
            <td>{{ i.remise4 }}</td>
            <td class="qtyofprice qtyprices" achatid="{{i.id}}">{{ i.qtyofprice }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
