{% for i in products %}
                <!--
                -->
                <!-- style="background:{% if not i.isactive %}#f3d6d694;{% endif %}" -->
                <tr ondblclick="openwindow('addpdct{{i.id}}', 'Produit {{i.ref}}', '/products/viewoneproduct/{{i.id}}?target={{target}}')"
                
                data-product-id="{{ i.id }}" class="product-row ">
                    <td style="padding: 5px; font-weight: bold;" class="pe-2">
                        {{i.ref.upper}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;">
                        {{i.name}}
                    </td>

                    <td style="padding: 5px; font-weight: bold;" class="text-center prachat">
                      {%if isfarah%}{{i.frbuyprice}}{%else%}{{i.buyprice}}{%endif%}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center">
                      {%if isfarah%}{{i.frremise1}}{%else%}{{i.remise1}}{%endif%}
                    </td>
                    <td style="padding: 5px; font-weight: bold; font-size: 14px; color: var(--orange);" class="text-center">
                      {%if isfarah%}{{i.frsellprice}}{%else%}{{i.sellprice}}{%endif%}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center">
                      {%if isfarah%}{{i.frremisesell}}{%else%}{{i.remisesell}}{%endif%}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center text-danger stock">
                        {% if isfarah %} {{i.stocktotalfarah}} {% else %} {{i.stocktotalorgh}} {% endif %}
                    </td>
                    

                    
                    <td style="padding: 5px; font-weight: bold;" class="text-success">
                      {{i.block}}
                  </td>
                  
                  <!-- <td style="padding: 5px; font-weight: bold;" class="text-danger">
                    {%if i.coutmoyen%}{{i.coutmoyen}}{%endif%}
                </td> -->
                   
                    <td style="padding: 5px; font-weight: bold;">
                      {{i.mark.name}}
                  </td>
                  


                <!-- <td style="padding: 5px; font-weight: bold;" class="text-danger">
                  <span class="percentage">
                    {{i.getpercentage|floatformat:2}}
                  </span>
                </td> -->

                </tr>
              {% endfor %}